body {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

img {
  width: 50vw;
  margin: 0 auto;
}

.error {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}
